.main-mercalista-register{
  
  width:auto;
  height: calc(100vh - 80px);
  display:flex;
}

.section-mercalista-register{
  min-height: 100vh;
  width: 45%;
}

.aside-mercalista-register{
  width: 55%; /* Asegúrate de que el ancho esté definido */
  display: flex; /* Habilita flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Asegura que ocupa toda la altura de la ventana */
  margin: 0 auto; /* Centra el contenedor si es necesario */
}

.form-register {
  background-color: #e6e6e6;
  padding: 40px; /* Espaciado interno */
  border-radius: 10px ;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
  margin: 0; /* Asegúrate de que no tenga márgenes externos */
  width: 95%; /* Ajusta el ancho relativo al contenedor */
  max-width: 600px; /* Limita el ancho máximo */
  border: 1px solid #000000; /* Borde opcional */
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input[type="text"],
input[type="tel"],
input[type="ciudad"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #996633;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: inset 0 0 1px #fff;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {    
  background-color: #80552a;
}


.Logo-Mercalista{
  width: 80px;
  height: 80px;
  max-width: 300px; /* Ajusta el tamaño máximo según sea necesario */
  margin: 20px;
}

.ImgVerduras{
  display: block;
  width: 65%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.Div-ImgVerduras {
  display: flex; /* Habilita flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: fit-content; /* Ajusta el ancho al contenido */
  max-width: 100%; /* Limita el ancho máximo al 100% del contenedor padre */
  height: auto; /* Ajusta la altura automáticamente */
  margin: 0 auto; /* Centra el div horizontalmente si es necesario */
  margin-top: 50px;
}

.Title-CrearCuenta-Mercalista{
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.header-mercalista-register{
  width: 100%;
  
}

